h2{
    color:aliceblue;
    text-align: center;
    margin-left: 520px;
}

.card{
    border:none;
    width:500px;
    padding:40px;
    position: absolute;
    top: 50%;
    left : 50%;
    background : burlywood;
    
    background: plum;
}

label{
    color:#fff;
}